/* —————————————————————————————————————————————————————————————————— ☕ —————————————————————————————————————————————————————————————————— */

@media print {
    * {
        text-shadow: none !important;
    }

    html,
    body {
        padding-top: 0 !important;
        overflow: auto !important;
        height: auto !important;
    }

    iframe,
    .titlebar,
    .app-container,
    .progress-bar,
    .popover,
    .markdown-embed-link {
        display: none !important;
    }

    body > :not(.print) {
        display: none !important;
    }

    .print .markdown-preview-view {
        -webkit-print-color-adjust: exact;
        color: initial;
    }

    .print .markdown-preview-view mark {
        color: initial;
    }

    .print .markdown-preview-view .frontmatter-container {
        display: none;
    }

    .print .markdown-preview-view .markdown-embed-content {
        max-height: none;
        overflow: visible;
    }

    .print .markdown-preview-view .callout-content {
        display: inherit !important;
    }

    .print .external-link {
        background: none;
        padding-right: 0;
    }

    .theme-dark {
        mix-blend-mode: darken;
        --highlight-mix-blend-mode: darken;
    }

    .theme-light {
        mix-blend-mode: lighten;
        --highlight-mix-blend-mode: lighten;
    }

    webview {
        display: none;
    }
}
